<div class='row'>
<div class='col-md-3'>
<span class='title'>The Artist</span>
        <div class="row text-center">
            <div class="col-lg-12 col-md-12 hero-feature">
                <div class="thumbnail">
                	<a href="detail.html" class="link-p first-p image-slot">
                	<img src="https://placehold.it/253x219" alt="" class='image-holder'>
                </a>
                <div class="caption prod-caption">
                    <h4><a href="detail.html">Brittani Rose</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, minima!</p>
                    <p>
                    	</p>
                    <p></p>
                </div>
                </div>
            </div>
        </div>
</div>
<div class='col-md-9'>
    <span class='title'>Biography</span>
    <div class="col-lg-12 col-md-12 hero-feature"></div>
    <h4>
        Lorem ipsum dolor sit amet conse ctetur adipisicing elit
    </h4>
    <p>
Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
<ul >
<li class='dark'>Lorem ipsum dolor sit amet</li>
<li class='dark'>Conse ctetur</li>
<li class='dark'>Aadipisicing elit</li>
<li class='dark'>Sed do eiusmod tempor</li>
</ul>
<h4>
Dolor sit amet conse ctetur adipisicing elit
</h4>
<p>
Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
<p>
Dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laboru
    </p>
</div>
</div>
<br>
<br>
