<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Custom Order Id</th>
      <th>Item Ordered</th>
      <th>Quantity</th>
      <th>Background</th>
      <th>Color</th>
      <th>Custom Text</th>
      <th>Approve or Deny</th>
      <th>Paid</th>
      <th>Shipped</th>
      </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>