<table class='table table-bordered'>
  <thead>
    <tr>
      <td>Custom Order Id</td>
      <td>Item Ordered</td>
      <td>Quantity</td>
      <td>Background</td>
      <td>Color</td>
      <td>Custom Text</td>
      <td>Approve or Deny</td>
      <td>Paid</td>
      <td>Shipped</td>
      </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>