<br/>
<br/>
<br/>
<table class='table table-bordered'>
  <thead>
    <tr>
      <td>Order Number</td>
      <td>Order Status</td>
      <td>First Name</td>
      <td>last Name</td>
    </tr>
  </thead>
  <tbody>
  <% @orders.each do |order|%>
    <tr>
      <td><%= order.id %></td>
      <td><%=order.order_status.name %></td>
      <% order.billing do |billing| %>
      <td><%= billing.first_name %></td>
      <td><%= billing.last_name %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>