<br/>
<br/>
<br/>
<table class='table table-bordered'>
  <thead>
    <tr>
      <td>Order Number</td>
      <td>Order Status</td>
    </tr>
  </thead>
  <tbody>
  <% @orders.each do |order|%>
    <tr>
      <td><%= order.id %></td>
      <td><%=order.order_status_id %></td>
      <td></td>
    </tr>
  <% end %>
  </tbody>
</table>