<div class='container'>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#products" aria-controls="products" role="tab" data-toggle="tab">Products</a></li>
    <li role="presentation"><a href="#orders" aria-controls="orders" role="tab" data-toggle="tab">Orders</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="products">
      <div class='col-lg-8 col-lg-offset-2 well'>
        <div class='text-center'>
          <h3>Products</h3>
        </div>
        <div class='col-md-2'>
        <%= link_to "New Product", new_product_path, class: 'btn btn-primary'%>
        </div>
        <div class='col-md-2'>
          <Select class='form-control'>
            <option>All Items</option>
            <option>Featured Items</option>
            <option>Item Type</option>
          </Select>
        </div>
        <br>
        <br>
        <table class='table table-bordered'>
          <thead>
            <tr>
              <td>Product Image</td>
              <td>Product Name</td>
              <td>Unit Price</td>
              <td>Description</td>
              <td>Featured</td>
              <td>Actions</td>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |products| %>
            <%= render 'products', products: products %>
            <% end %>
           </tbody>
        </table>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="orders">
      <div class='col-lg-8 col-lg-offset-2 well'>
        <%= render 'orders' %>
      </div>
    </div>
  </div>
  
  
  
  
</div>