<div class='container'>
  <div class='tabbable-panel'>
    <div class="tabbable-line">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#orders" aria-controls="orders" role="tab" data-toggle="tab">Orders</a></li>
        <li role="presentation"><a href="#products" aria-controls="products" role="tab" data-toggle="tab">Products</a></li>
        <li role='presentation'><a href='#customOrders' aria-controls='customOrders' role='tab' data-toggle='tab'>Custom Orders</a></li>
      </ul>
    </div>
  </div>
  <!-- Tab panes -->
  <div class="tab-content">
    <!--Orders Panel-->
    <div role="tabpanel" class="tab-pane active" id="orders">
      <br/>
      <div class='col-lg-12 well'>
        <%= render 'orders' %>
      </div>
    </div>
    <!--Products Panel-->
    <div role="tabpanel" class="tab-pane" id="products">
      <br/>
      <div class='col-lg-12 well'>
        <%= render 'products' %>
      </div>
    </div>
    <!--Custom Orders Panel-->
    <div role="tabpanel" class="tab-pane" id="customOrders">
      <br/>
      <div class='col-lg-12 well'>
        <br/>
        <br/>
        <br/>
        <%= render 'custom_orders' %>
      </div>
      <!--close custom orders panel-->
    </div>
  <!--close tab-content-->
  </div>
<!--close container-->
</div>