<div class='container'>
  <div class='tabbable-panel'>
    <div class="tabbable-line">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#orders" aria-controls="orders" role="tab" data-toggle="tab">Orders</a></li>
    <li role="presentation"><a href="#products" aria-controls="products" role="tab" data-toggle="tab">Products</a></li>
    <li role='presentation'><a href='#customOrders' aria-controls='customOrders' role='tab' data-toggle='tab'>Custom Orders</a></li>
  </ul>
</div>
  </div>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="orders">
      <br/>
      <div class='col-lg-12 well'>
        <%= render 'orders' %>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="products">
      <br/>
      <div class='col-lg-12 well'>
        <div class='col-md-2'>
        
        <%= link_to "New Product", new_product_path, class: 'btn btn-primary'%>
        </div>
        <div class='col-md-2 pull-right'>
          <Select class='form-control'>
            <option>All Items</option>
            <option>Featured Items</option>
            <option>Item Type</option>
          </Select>
        </div>
        <br/>
        <br/>
        <br/>
        <table class='table table-bordered'>
          <thead>
            <tr>
              <td>Product Image</td>
              <td>Product Name</td>
              <td>Unit Price</td>
              <td>Description</td>
              <td>Featured</td>
              <td>Actions</td>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |products| %>
            <%= render 'products', products: products %>
            <% end %>
           </tbody>
        </table>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="customOrders">
      <br/>
      <div class='col-lg-12 well'>
        <br/>
        <br/>
        <br/>
        <table class='table table-bordered'>
          <thead>
            <tr>
              <td>Custom Order Id</td>
              <td>Item Ordered</td>
              <td>Quantity</td>
              <td>Background</td>
              <td>Color</td>
              <td>Custom Text</td>
              <td>Approve or Deny</td>
              <td>Paid</td>
              <td>Shipped</td>
              </tr>
          </thead>
          <tbody>
            <%= render 'custom_orders' %>
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
  
  
  
  
</div>