<div class='row'>  
    <span class='title'>Information</span>
  </div>
<br/>
<div class='row'>
  <div class='col-md-12'>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-primary">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Shipping Information
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          All items ordered from Brittani Rose Art are shipped via USPS and a tracking number is provided for each order. Insurance is available upon request but is not provided by default. Items can not be shipped to P.O. Boxes when filling out your billing information please use your current address which can recieve packages from the United States Postal Service. Brittani Rose Art is not responisible for any lost items.
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Return Policy Information
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          If you are dissatisfied with any products you recieve from Brittani Rose Art or decide you no longer want the product, we will accept returns up to 90 days after the date of order for the full purchase price.
          <br/>
          <br/>
          Returns will not be granted for items that suffered normal wear and tear. 
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Product Information
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          All products listed on Brittani Rose Art are created by Brittani Rose. These products are not intended for resale.
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<br/>
<br/>
<br/>
<br/>