<!--<div class='row'>
<table class='table-bordered col-lg-12'>
  <tbody>
    <tr>
      <td>First Name</td>
      <td><input type="text" name="" class="form-control"></td>
      <td>Last Name</td>
      <td><input type="text" name="" class="form-control"></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><input type="text" name="" class="form-control"></td>
      <td>Phone</td>
      <td><input type="text" name="" class="form-control"></td>
    </tr>
    <tr>
      <td>Address</td>
    </tr>
    <tr>
      <td>Line 1</td>
      <td><input type="text" name="" class="form-control"></td>
      <td>Line 2</td>
      <td><input type="text" name="" class="form-control"></td>
    </tr>
    <tr>
      <td>City</td>
      <td><input type="text" name="" class="form-control"></td>
      <td>State</td>
      <td>
        <div class='col-md-5'>
        <select class="form-control">
          <option>KS</option>
        </select>
        </div>
      </td>
      <td>Zip Code</td>
      <td><input type="text" name="" class="form-control"></td>
    </tr>
  </tbody>
</table>-->
</div>
<div class='row'>
<div class="shopping-cart">
  <%= render "shopping_cart" %>
</div>
<!--
<form action="" method="POST" class='pull-right'>
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_CNCBFq25N9tJtvOrLQL6aI1q"
    data-amount="<#% current_order.subtotal %>"
    data-name="Demo Site"
    data-description="2 widgets (<#%= number_to_currency current_order.subtotal %>)"
    data-image="/128x128.png">
  </script>
</form>
</div>
-->