<span class='title'>Products for Sale</span>

<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">All Items</a></li>
  <li role="presentation"><a href="#">Bookmarks</a></li>
  <li role="presentation"><a href="#">Motivational</a></li>
  <li role="presentation"><a href='#'>Other Items</a></li>
</ul>

<br/>
<div class="row">
  <div class='col-md-12 col-xs-8 col-sm-10'>
    <% @products.each do |product| %>
    
      <%= render "product_row", product: product, order_item: @order_item %>
    <% end %>
  </div>
</div>



<!--<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <#% @products.each do |product| %>
      <#%= render "product_row", product: product, order_item: @order_item %>
    <#% end %>
  </div>
</div>-->

<!-- Please call pinit.js only once per page -->
<script type="text/javascript" async defer data-pin-height="28" data-pin-hover="true" src="//assets.pinterest.com/js/pinit.js"></script>