<div class='row'>
<div class='col-lg-12'>
  <span class='title'><%= @products.name %></span>
</div>
  <div class='col-lg-12 col-md-9 col-sm-12'>
    <div class='col-md-6 hero-feature'>
      <img src='https://placehold.it/330x330'>
    </div>
    <div class='col-md-6'>
      <div class='well product-short-detail'>
        <div class='text-center'>
        <%= number_to_currency @products.price, class: 'center'%>
        </div>
        <div class='text-center'>
          Availability: 30
        </div>
        <div class='center'>
          Size:
          <select>
            <option>5x7</option>
            <option>8x10</option>
            <option>11x17</option>
          </select>
        </div>
        <br/>
          <input type='text' value='1' class='text-center'>
          <br/>
          <br/>
          <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp; Add</a>
      </div>
    </div>
  </div>
</div>
</div>