<td><img src="https://placehold.it/47x47"></td>
<td class='text-center'><%= product.name %></td>
<td class='text-center'><%= order_item.quantity.to_i %></td>
<td class='text-center'><%= number_to_currency order_item.unit_price %> </td>
<td class='text-center'><%= number_to_currency order_item.total_price %></td>